@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/sui-generis');

h1{
    font-family: 'ICA Rubrik';
    color: #25283B;
    position: absolute;
    font-size: 43px;
    position: absolute;
    left: 667px;
    letter-spacing: 10px;
}

html, body {
    overflow: hidden;
    height: 100%;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.text{
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.wrap {
    width: 200px;
    margin: 1rem;
    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;
}

.item {
    --rX: 0deg;
    --rY: 0deg;
    --bX: 50%;
    --bY: 80%;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    transform: rotateX(var(--rX)) rotateY(var(--rY));
    transition: 0.2s;
    padding: 20px;
    box-shadow: 0 30px 20px #5555;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 30px 20px #5559;
    z-index: -1;
}
